<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Customers</title>

  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@3"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<div id="app">

  <h2>Lista de Clientes</h2>

  <!-- Botón crear -->
  <button @click="mostrarFormulario = true">Agregar</button>

  <!-- Tabla -->
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Favorite Language</th>
      <th>Actions</th>
    </tr>

    <tr v-for="user in usuarios" :key="user.id">
      <td>{{ user.name || '-' }}</td>
      <td>{{ user.email || '-' }}</td>
      <td>{{ user.age || '-' }}</td>
      <td>{{ user.favorite_language  || '-' }}</td>
      <td>
        <button @click="editar(user)">✏️</button>
        <button @click="eliminar(user.id)">🗑️</button>
      </td>
    </tr>
  </table>

  <!-- Formulario -->
  <div v-if="mostrarFormulario">
    <h3>{{ editando ? 'Editar' : 'Nuevo Cliente' }}</h3>

    <input v-model="form.name" placeholder="Name">
	<input v-model="form.email" placeholder="Email">
	<input v-model="form.age" placeholder="Age">
	<input v-model="form.favorite_language" placeholder="Favorite Language">

    <button @click="guardar">Guardar</button>
    <button @click="cancelar">Cancelar</button>
  </div>

</div>

<script src="js/app.js"></script>

</body>
</html>